/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
 
    
  position: absolute;
  top: 15%;
  left: 25%;
  right: 25%;
 
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
 
 
}

/* Create three equal columns that sits next to each other */
.a {
  height:500px; 
}

a.notact:link{text-decoration: none; width: 100px; color:black; background-color:#4CAF50;display: block; border:outset; border-color:white; margin: 10px 25px; padding:3px}
a.notact:hover{text-decoration: none; opacity: 0.8; width: 100px; color: white ; display: block;border:outset; border-color:silver}

